@use "../abstracts/" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font: {
    family: $ff-sans;
    size: fs(400);
    weight: $fw-400;
  }
  line-height: 1.5;
  color: clr(neutral, 400);
}